<main class="p-4">
    <div class="grid grid-cols-3 max-w-6xl mx-auto gap-4">
    <article class="bg-white shadow rounded overflow-hidden hover:bg-slate-500 transition-colors">
      <div class="h-52">
        <img src="https://scontent.fcue6-1.fna.fbcdn.net/v/t39.30808-6/349541406_3488695901378401_8251727635455020562_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=fm9cZxiqnDMAX_FWlFN&_nc_ht=scontent.fcue6-1.fna&oh=00_AfAfsRFouQUorW5yEIU5ynWwhfJSab5AwwjuRmknirUMlA&oe=65BCB70E" class="h-full w-full object-cover object-center">
      </div>
      <div class="space-y-3 p-5">
        <h3 class="text-sm font-semibold text-sky-500">#Noticias2024</h3>
        <h2 class="text-xl font-semibold leading-tight text-black">Noticias</h2>
        <p class="text-black"> Esta sección incluye artículos sobre logros destacados de los estudiantes y profesores, proyectos destacados, actualizaciones del campus e información relevante relacionada con la educación y la comunidad escolar.</p>
      </div>
    </article>
    <article class="bg-white shadow rounded overflow-hidden hover:bg-slate-500 transition-colors">
      <div class="h-52">
        <img src="https://scontent.fcue6-1.fna.fbcdn.net/v/t1.6435-9/67718558_1323054491191057_4271497825168130048_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=300f58&_nc_ohc=y361znjNmB8AX_xyvhR&_nc_ht=scontent.fcue6-1.fna&oh=00_AfDvyyS7s7znDdoLI0TxH0-uxSGXMrkLUDbbWj4nfMWbsw&oe=65DF8703" class="h-full w-full object-cover object-center">
      </div>
      <div class="space-y-3 p-5">
        <h3 class="text-sm font-semibold text-sky-500">#Calendario/Escolar/2024</h3>
        <h2 class="text-xl font-semibold leading-tight text-black">Calendario Escolar</h2>
        <p class="text-black">Incluiye fechas de inicio y finalización de clases, vacaciones, días festivos, exámenes, eventos especiales y actividades extracurriculares.</p>
      </div>
    </article>
    <article class="bg-white shadow rounded overflow-hidden hover:bg-slate-500 transition-colors">
      <div class="h-52">
        <img src="https://scontent.fcue6-1.fna.fbcdn.net/v/t39.30808-6/344113317_797199944785723_6837644628237606033_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=vc4Z1bZogi8AX-eetUo&_nc_ht=scontent.fcue6-1.fna&oh=00_AfBgMs7DHwm5JlESowAIYa44oTzexh1J5IwFracf7grNow&oe=65BC33E4" class="h-full w-full object-cover object-center">
      </div>
      <div class="space-y-3 p-5">
        <h3 class="text-sm font-semibold text-sky-500">#Matriculas2024</h3>
        <h2 class="text-xl font-semibold leading-tight text-black">Matriculas</h2>
        <p class="text-black">Contiene detalles sobre los documentos requeridos, fechas límite de inscripción, pasos a seguir, requisitos de edad e información para el proceso de matrícula.</p>
      </div>
    </article>
    <article class="bg-white shadow rounded overflow-hidden hover:bg-slate-500 transition-colors">
      <div class="h-52">
        <img src="https://scontent.fcue6-1.fna.fbcdn.net/v/t39.30808-6/343950607_3531531143799254_4219258122059459293_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=P8PFP9LN_I4AX-aeFMJ&_nc_ht=scontent.fcue6-1.fna&oh=00_AfAm6Ser1Eo_1l0X5plADM0vYqeyUdI8iN9ppjV7KsXKww&oe=65BD3901" class="h-full w-full object-cover object-center">
      </div>
      <div class="space-y-3 p-5">
        <h3 class="text-sm font-semibold text-sky-500">#Eventos2024</h3>
        <h2 class="text-xl font-semibold leading-tight text-black">Eventos</h2>
        <p class="text-black">Se ofrece detalles detallados sobre los eventos próximos, incluyendo fechas, horarios, ubicaciones y descripciones para que los estudiantes, padres y miembros del personal puedan planificar su participación.<p>
      </div>
    </article>
    <article class="bg-white shadow rounded overflow-hidden hover:bg-slate-500 transition-colors">
      <div class="h-52">
        <img src="https://scontent.fcue6-1.fna.fbcdn.net/v/t39.30808-6/320373188_546191710730503_7533261643811848611_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=CX9rVI7oO88AX_bpUR1&_nc_ht=scontent.fcue6-1.fna&oh=00_AfDN296P6rqkKHyJX_ZXLdHpqZGDLZyN09SvkHvXgp4zJQ&oe=65BD5F10" class="h-full w-full object-cover object-center">
      </div>
      <div class="space-y-3 p-5">
        <h3 class="text-sm font-semibold text-sky-500">#Novedades2024</h3>
        <h2 class="text-xl font-semibold leading-tight text-black">Novedades</h2>
        <p class="text-black">Se da a conocer noticias recientes, anuncios importantes, actualizaciones del campus, logros destacados de estudiantes y profesores, e información relevante para la comunidad educativa.</p>
      </div>
    </article>
    <article class="bg-white shadow rounded overflow-hidden hover:bg-slate-500 transition-colors">
      <div class="h-52">
        <img src="https://scontent.fcue6-1.fna.fbcdn.net/v/t39.30808-6/350132247_223175900463163_8945758590061246429_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=9c7eae&_nc_ohc=kNboaHO4krwAX8ZfuJQ&_nc_ht=scontent.fcue6-1.fna&oh=00_AfBdOopKpNBFiojcehOahlMXuaDuWsM-JYxIN3yisMDDlw&oe=65B4F899" class="h-full w-full object-cover object-center">
      </div>
      <div class="space-y-3 p-5">
        <h3 class="text-sm font-semibold text-sky-500">#Bliblioteca/Actualizada/2024</h3>
        <h2 class="text-xl font-semibold leading-tight text-black">Biblioteca</h2>
        <p class="text-black">Este espacio ofrece acceso a información sobre el catálogo de libros, recursos digitales, horarios de apertura, servicios disponibles.</p>
      </div>
    </article>
    </div>
  </main>