<main class="py-6 px-4 sm:p-6 md:py-10 md:px-8">
    <div class=" mx-auto max-w-3xl">   
    <div class="flex space-x-16">
        <img src="https://scontent.fcue6-1.fna.fbcdn.net/v/t39.30808-6/306569164_484509793684486_5187959574960745346_n.jpg?stp=dst-jpg_s552x414&_nc_cat=105&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=MFW5pDjHzrQAX8VnyZj&_nc_ht=scontent.fcue6-1.fna&oh=00_AfAmbmBU1Iib7CkkEQuN9nMZIjeCQfT57QgY1S_JNZwDzg&oe=65BD5A6E" alt="" class="w-80 h-80 object-cover rounded-full sm:h-52 sm:col-span-2" loading="lazy">
        <div class="flex flex-col justify-center">
        <h1 class="text-4xl font-bold text-gray-900">Colegio de Bachillerato Tecnico</h1>
        <h1 class="text-4xl font-bold text-gray-900">Daniel Cordova Toral</h1>
        </div>
    </div>
    </div> 
</main>

<main class="py-6 px-4 sm:p-6 md:py-10 md:px-8">
    <div class="max-w-4xl mx-auto grid grid-cols-1">
      <div class="grid gap-2 col-start-1 col-end-3 row-start-1 sm:mb-6 sm:grid-cols-4">
        <img src="https://scontent.fcue6-1.fna.fbcdn.net/v/t39.30808-6/412532016_849049783897150_3216623371133187617_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=783fdb&_nc_ohc=80_ZoX1HaqkAX8onL4B&_nc_ht=scontent.fcue6-1.fna&oh=00_AfCmDdRwhRKdRBsFFxp-hRHjPe4Gq6JfYsMMhPY5GB5fvA&oe=65B5793A" alt="" class="w-full h-60 object-cover rounded-lg sm:h-52 sm:col-span-2" loading="lazy">
        <img src="https://scontent.fcue6-1.fna.fbcdn.net/v/t39.30808-6/273285121_906757570019050_6275594956687617340_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=3635dc&_nc_ohc=UgmGyr75PI0AX9FJFQ2&_nc_ht=scontent.fcue6-1.fna&oh=00_AfApqB0BBqYD8J123K60Ozq4G3xqSSPl5ztK0w8zVaxvUA&oe=65B4DD1D" alt="" class="w-full h-60 object-cover rounded-lg sm:h-52 sm:col-span-2" loading="lazy">
      </div>
      <p class="mt-4 text-sm leading-6 col-start-1 sm:col-span-2">El Colegio Daniel Córdova es una institución educativa comprometida con la excelencia académica y el desarrollo integral de sus estudiantes. Ubicado en un entorno vibrante y enriquecedor, el colegio se enorgullece de ofrecer un ambiente de aprendizaje innovador y estimulante.
        El cuerpo docente del colegio está formado por educadores apasionados y dedicados que se comprometen a guiar a los estudiantes en su viaje educativo. Además, el colegio cuenta con instalaciones modernas y recursos educativos de vanguardia que brindan un entorno propicio para el aprendizaje y el crecimiento.
      </p>
     <div class="mt-4 col-start-1 row-start-3 self-center sm:mt-0 sm:col-start-2 sm:row-start-3 sm:row-span-2">
      <button type="button" class="bg-indigo-600 text-white text-sm leading-6 font-medium py-2 px-3 rounded-lg transition-colors hover:bg-red-600 focus:ring-2 focus:ring-slate-900">Ingresar</button>
     </div>
    </div>
  </main>